<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <paylane>
                <payment_action>authorize</payment_action>
                <model>PayLaneFacade</model>
                <title>Polskie ePłatności</title>
                <active>0</active>
                <debug>0</debug>
                <payment_mode>API</payment_mode>
                <order_status>pending</order_status>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_refund>1</can_refund>
                <can_use_checkout>0</can_use_checkout>
                <can_use_internal>0</can_use_internal>
                <is_gateway>1</is_gateway>
                <sort_order>100</sort_order>
                <pending_order_status>pending_payment</pending_order_status>
                <performed_order_status>processing</performed_order_status>
                <cleared_order_status>processing</cleared_order_status>
                <error_order_status>holded</error_order_status>
                <redirect_method>POST</redirect_method>
                <paylane_notifications>
                    <mode>auto</mode>
                </paylane_notifications>
            </paylane>
            <paylane_secureform>
                <payment_action>order</payment_action>
                <model>Virtual\PayLane\Model\Method\SecureFormAdapterFacade</model>
                <title>Polskie ePłatności | Secure Form</title>
                <active>0</active>
                <debug>0</debug>
                <order_status>processing</order_status>
                <can_order>1</can_order>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>0</can_void>
                <can_refund>0</can_refund>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>0</can_use_internal>
                <is_gateway>1</is_gateway>
                <sort_order>110</sort_order>
            </paylane_secureform>
            <paylane_creditcard>
                <payment_action>authorize_capture</payment_action>
                <payment_3ds_action>authorize</payment_3ds_action>
                <model>Virtual\PayLane\Model\Method\CreditCardAdapterFacade</model>
                <title>Polskie ePłatności | Credit Card</title>
                <show_img>1</show_img>
                <active>0</active>
                <debug>0</debug>
                <order_status>processing</order_status>
                <can_order>0</can_order>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>0</can_void>
                <can_refund>0</can_refund>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>0</can_use_internal>
                <is_gateway>1</is_gateway>
                <sort_order>120</sort_order>
                <masked_fields>cvv,number</masked_fields>
                <useccv>1</useccv>
            </paylane_creditcard>

            <paylane_banktransfer>
                <payment_action>authorize</payment_action>
                <model>PayLaneBankTransferFacade</model>
                <title>Polskie ePłatności | Bank Transfer</title>
                <active>0</active>
                <debug>0</debug>
                <show_img>1</show_img>
                <order_status>processing</order_status>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_refund>1</can_refund>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <is_gateway>1</is_gateway>
                <sort_order>130</sort_order>
            </paylane_banktransfer>
            <paylane_paypal>
                <payment_action>authorize</payment_action>
                <model>PayLanePayPalFacade</model>
                <title>Polskie ePłatności | PayPal</title>
                <show_img>1</show_img>
                <active>0</active>
                <debug>0</debug>
                <order_status>processing</order_status>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_refund>1</can_refund>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <is_gateway>1</is_gateway>
                <sort_order>140</sort_order>
            </paylane_paypal>
            <paylane_directdebit>
                <payment_action>authorize</payment_action>
                <model>PayLaneDirectDebitFacade</model>
                <title>Polskie ePłatności | Direct Debit</title>
                <show_img>1</show_img>
                <active>0</active>
                <debug>0</debug>
                <order_status>processing</order_status>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_refund>1</can_refund>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <is_gateway>1</is_gateway>
                <sort_order>150</sort_order>
            </paylane_directdebit>
            <paylane_sofort>
                <payment_action>authorize</payment_action>
                <model>PayLaneSofortFacade</model>
                <title>Polskie ePłatności | SOFORT</title>
                <show_img>1</show_img>
                <active>0</active>
                <debug>0</debug>
                <order_status>processing</order_status>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_refund>1</can_refund>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <is_gateway>1</is_gateway>
                <sort_order>160</sort_order>
            </paylane_sofort>
            <paylane_ideal>
                <payment_action>authorize</payment_action>
                <model>PayLaneIdealFacade</model>
                <title>Polskie ePłatności | iDEAL</title>
                <show_img>1</show_img>
                <active>0</active>
                <debug>0</debug>
                <order_status>processing</order_status>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_refund>1</can_refund>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <is_gateway>1</is_gateway>
                <sort_order>170</sort_order>
            </paylane_ideal>
            <paylane_applepay>
                <payment_action>authorize</payment_action>
                <model>PayLaneApplePayFacade</model>
                <title>Polskie ePłatności | Apple Pay</title>
                <show_img>1</show_img>
                <active>0</active>
                <debug>0</debug>
                <order_status>processing</order_status>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_refund>1</can_refund>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <is_gateway>1</is_gateway>
                <sort_order>180</sort_order>
            </paylane_applepay>
            <paylane_blik0>
                <payment_action>authorize</payment_action>
                <model>PayLaneBlik0Facade</model>
                <title>Polskie ePłatności | BLIK</title>
                <show_img>1</show_img>
                <active>0</active>
                <debug>0</debug>
                <order_status>processing</order_status>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_refund>1</can_refund>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <is_gateway>1</is_gateway>
                <sort_order>190</sort_order>
            </paylane_blik0>
            <paylane_googlepay>
                <payment_action>authorize</payment_action>
                <model>PayLaneGooglePayFacade</model>
                <title>Polskie ePłatności | Google Pay</title>
                <show_img>1</show_img>
                <active>0</active>
                <debug>0</debug>
                <order_status>processing</order_status>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_refund>1</can_refund>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <is_gateway>1</is_gateway>
                <sort_order>200</sort_order>
            </paylane_googlepay>
        </payment>
    </default>
</config>